<div class="p-5 bg-light">
        <h1 class="display-3">Bienvenido</h1>
        <p class="lead">Alquiler de Prendas de Vestir</p>
        <hr class="my-2">
        <p>Sistema para la gestion de alquiler de prendas de vestir</p>
        <p class="lead">
            <a class="btn btn-success btn-lg" href="/administrador" role="button">Empezar</a>
        </p>
</div>